*{
    font-family: 'Nanum Myeongjo', serif;
}
.login-box {
    width: 600px;
    height: 400px;

    border-radius: 15px;
    margin: auto;

    background-image: url('https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg');
    background-size: cover;
    background-position: center;
}

.login-box>h2 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}

.login-box>p {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

.login-input {
    margin-top: 30px;
    margin-left: 125px;
}